<!-- Joy Taylor Aug 23rd 2018 base for question page -->
<!DOCTYPE html>
<html id = "questionPage">
<head>
<!--Samuel Anozie, July 19, 2017. This is the Template for all the classes pages. It will look a lot like the account page for simplicity.-->
<meta charset = "UTF-8"/>
<link rel = "stylesheet" type = "text/css" href = "styles.css"/>
<link rel = "icon" href = "favicon.jpg" type = "image/jpg"/>

<!--Fonts-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Syncopate" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<title>IN2 - SchoolBoard</title>
<style>
@import url('https://fonts.googleapis.com/css?family=Pontano+Sans');
html {
	height: 100%;
}
body {
	text-align: center;
	height: 100%;
	margin: auto;
	background-image: url('backpic.jpg');
	background-size: cover;
	background-position: fixed;
	overflow: auto;
}
</style>
<body>
<div class = "img">
	<a href = "index.html">
		<img src = "Picture2.png"/>
	</a>
</div>
<div class = "body">
<div class = "classname">
	<div class = "heading">
		<h1>IN2</h1>
	</div>
</div>
<div class = "ask">
<form action = "/addQuestion" method = 'post'>
	<textarea  name = "question" id="question" placeholder = "Ask your question here, and make sure to hit Submit!"></textarea><br/><br/><br/>
	<input type='hidden' name="class_id" value="<%=class_id%>">
	<input type = "submit" name = "submit" value = "submit" id='submit'>
	<script type="text/javascript">
	/*document.getElementById("submit").onclick  = function(){
	    var b = document.getElementById('question').value,
	        url = 'http://SchoolBoard/IN2.html?name=' + encodeURIComponent(b);

	    document.location.href = "IN2.html";
	}*/
</script>
</form>
</div>
<div class = "submit">
</div>
</div>
</body>
</html>
