<!DOCTYPE html>
<!--Trenton Lyke, August 8, 2019. -->
<html id = "index">
<head>
<meta charset = "UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap Links -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!--My Stuff-->
<link rel = "stylesheet" href = "styles.css"/>


<title>SchoolBoard</title>
<link rel = "icon" href = "favicon.png" type = "image/jpg"/>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ma">
      <li class="nav-item">
      <a style="color: white; display: inline-block; padding:1vmin" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a style="color: #949DA0; display: inline-block; padding:1vmin " href="/3DPrinterOrderForm">3D Printing</a>
    </li>
    <li class="nav-item">
      <a style="color: #949DA0; display: inline-block; padding:1vmin " href="/LindblomOrderForm">Machining</a>
    </li>
  
	<li class="nav-item">
      <a style="color: #949DA0; display: inline-block; padding:1vmin " href="/ForumMenu">Forum</a>
    </li>
    <li class="nav-item">
      <a style="color: #949DA0; display: inline-block; padding:1vmin " href="" data-toggle="modal" data-target="#signup">Sign Up</a>
    </li>
	<%if(username == ""){%>
    <li class="nav-item">
      <a style="color: #949DA0; display: inline-block; padding:1vmin;  " href="" data-toggle="modal" data-target="#login">Login</a>
    </li>  
	<%}else{%>
	<li class="nav-item">
	
      <a style="color: #949DA0; display: inline-block; padding:1vmin "><%=username%><a href="/logout" data-toggle="tooltip" data-placement="bottom" title="Logout"><i class="fa fa-sign-out navColor"  aria-hidden="true"></i></a></a>
    </li> 
	<%}%>
    </ul>
  </div>  
</nav>
<!-- The Modal -->
  <div class="modal fade" id="login">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Login <%if(uop == "n"){%>
			 <span style="color: red"><%="*Incorrect username or password"%></span>
			<%}%></h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form action="/login?page=index" id="loginForm" method="POST">
        <!-- Modal body -->
        <div class="modal-body">
          
		  <div class="form-group">
			
			<label for="username">Username:</label>
			<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text"><i class="fa fa-user"></i></span>
			</div>
				<input type="text" name="username" class="form-control" id="usernameli" required>
				
				
			</div>
		  </div>
		  <div class="form-group">
			<label for="password">Password:</label>
			<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text"><i class="fa fa-lock"></i></span>
			</div>
			<input type="password" name="password" class="form-control"  id="passwordli" required>
			</div>
		  </div>
		  
		  
		
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
		<button type="submit" class="btn btn-primary">Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal fade" id="signup">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Sign Up</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <form action="/signup" enctype="multipart/form-data" method="POST">
        <!-- Modal body -->
        <div class="modal-body">
          
		  <div class="form-group">
			<label for="first_name">First Name:</label>
			<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text"><i class="fa fa-user"></i></span>
			</div>
				<input type="text" name="first_name" class="form-control" id="first_name" required>
			</div>
		  </div>
		  <div class="form-group">
			<label for="last_name">Last Name:</label>
			<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text"><i class="fa fa-user"></i></span>
			</div>
				<input type="text" name="last_name" class="form-control" id="last_name" required>
			</div>
		  </div>
		  <div class="form-group">
		  
			<label for="email">Email: <span style="color: red;" id="emailValidity"></span></label>
			<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text"><i class="fa fa-at"></i></span>
			</div>
				<input type="email" onchange="validateSignup()" name="email" class="form-control" id="email" required>
				
			</div>
		  </div>
		  <div class="form-group">
			<label for="team_name">Team Name:</label>
			<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text"><i class="fa fa-steam"></i></span>
			</div>
				<input type="text" name="team_name" class="form-control" id="team_name" required>
			</div>
		  </div>
		  <div class="form-group">
			<label for="team_number">Team Number:</label>
			<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text"><i class="fa fa-hashtag"></i></span>
			</div>
				<input type="text" name="team_number" class="form-control" id="team_number" required>
			</div>
		  </div>
		  
		  <div class="form-group">
		  
			<label for="username">Username:  <span style="color: red;" id="usernameValidity"></span></label>
			<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text"><i class="fa fa-user-plus"></i></span>
			</div>
				<input type="text" onchange="validateSignup()" name="username" class="form-control" id="username" required>
			</div>
		  </div>
		  <div class="form-group">
		  
		  
			<label for="password">Password:
			 <span style="color: red;" id="passwordValidity"></span>
			</label>
			<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text"><i class="fa fa-lock"></i></span>
			</div>
			<input type="password" onchange="check(); validateSignup()" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Your password must be 8 characters long and contain an uppercase letter, a lowercase letter, and a number/special character."  name="password" class="form-control"  id="password" required>
			</div>
		  </div>
		  <div class="form-group">
			<label for="password">Confirm Password:</label>
			<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text"><i class="fa fa-lock"></i></span>
			</div>
			<input type="password" name="confirmPassword" class="form-control" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="Your password must be 8 characters long and contain an uppercase letter, a lowercase letter, and a number/special character." onchange="check()" id="confirmPassword"  required>
			</div>
		  </div>
		  
		  <div class="custom-file">
    <input type="file" class="custom-file-input" type="file" name="profile_picture" id="design_file" accept=".jpg,.png,.gif,.jpeg,.svg" required>
    <label class="custom-file-label" for="design_file">Profile Picture</label>
  </div>
		  
		
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
		<button type="submit" id="submitSignUp" class="btn btn-primary" disabled>Submit</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
		  
        </div>
        </form>
      </div>
    </div>
  </div>
<script>
// Add the following code if you want the name of the file appear on select
$(".custom-file-input").on("change", function() {
  var fileName = $(this).val().split("\\").pop();
  $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
});
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
});

function check() {
	console.log($("#confirmPassword").val() != $('#password').val())
	if ($("#confirmPassword").val() != $('#password').val()) {
		document.getElementById("password").setCustomValidity('Password Must be Matching.');
		document.getElementById("confirmPassword").setCustomValidity('Password Must be Matching.');
	} else {
		// input is valid -- reset the error message
		document.getElementById("password").setCustomValidity('');
		document.getElementById("confirmPassword").setCustomValidity('');
	}
}

<%if(uop == "n"){%>$(alert("That login was invalid"))<%}%>

function validateSignup(){
$.ajax({url: "/validateSignup",type: "POST", data: {username: $("#username").val(), email: $("#email").val(), password: $("#password").val()}, success: function(validity){
    if($("#username").val().trim() != "" && !validity.username){
		$("#username").addClass("invalid");
		$("#usernameValidity").html("*Username was already taken.")
	}
	else{
		$("#username").removeClass("invalid");
		$("#usernameValidity").html("")
	}
	if($("#email").val().trim() != "" && !validity.email){
		$("#email").addClass("invalid");
		$("#emailValidity").html("*Email was already taken.")
	}
	else{
		$("#email").removeClass("invalid");
		$("#emailValidity").html("")
	}
	if($("#password").val().trim() != "" && !validity.password){
		$("#password").addClass("invalid");
		$("#passwordValidity").html("*Password was already taken.")
	}
	else{
		$("#password").removeClass("invalid");
		$("#passwordValidity").html("")
	}
	
	if(validity.username && $("#username").val().trim() != "" && validity.password && $("#password").val().trim() != "" && validity.email && $("#email").val().trim() != ""){
		$('#submitSignUp').prop("disabled", false);
	}
	else{
		$('#submitSignUp').prop("disabled", true);
	}
  }});
}
</script>

<div id = "grand-parent">
<div id = "header" class = "container-fluid mainBack">
	<div id = "headerRow" class = "row justify-content-center">
		<div id = "headerCol" class = "col-md-12 text-center">
			<div class = "row text-center justify-content-center">
				<h1 id="fadeIn1">Octagon Robotics</h1>
			</div>
			<div class = "row text-center justify-content-center ">
				<h1 id="fadeIn2">Future FIRST</h1>
			</div>
		</div>
	</div>
</div>
</div>
<div id = "mission" class = "container">
	<div class = "row text-center">
		<div class = "col-md-12">
			<h2><span class = "text-dark" style="font-size: 7vw">Our Mission: </span><br><span class = "gradient" style="font-size: 7vw">Support and Empower Teams of the First Tech Challenge</span></h2>
			<p class = "text-dark" style="font-size: 3vw">By providing teams with resources and mediums of communication, we're developing a nurturing enviroment for rookie and veteran teams alike.</p>
		</div>
	</div>
	<div class = "row justify-content-center">
		<div id = "signup" class = "col-md-3 button">
			<a href = "/signup"  class = "stretched-link btn btn-lg">SIGN UP</a>
		</div>
		<div id = "login" class = "col-md-3 button">
			<a href = "/login" class = "stretched-link btn btn-lg">LOG IN</a>
		</div>
	</div>
</div>
<div class = "container-fluid pageDisplay" style="background-color: #000033">
	<div id = "headerRow" class = "row justify-content-center">
		<div id = "headerCol" class = "col-md-12 text-center">
			<div class = "row text-center justify-content-center">
				<h3 style="" class="mt10">3D Printing Vendor</h3>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class="col-md-5 text-center ma"><img class="img-thumbnail mt20 img-fluid" src="3DPrint.jpg"></div>
		
		<div class="col-md-6 text-left ma"><p class="description mt10">Request personalized 3D printed parts for you competition robots and side projects alike. This service connects you with our 3D printin vendor's prestigious team. Submit a request with your designs to the team and they will send a quote for the cost and time needed to print your idea. If you agree on pricing you can continue to work with their team and obtain beautifully printed parts.
		
</p></div>
		<div class="col-md-1 text-center ma"></div>
	</div>
	
	
</div>

<div class = "container-fluid pageDisplay" style="background-color: #00001a">
	<div id = "headerRow" class = "row justify-content-center">
		<div id = "headerCol" class = "col-md-12 text-center">
			<div class = "row text-center justify-content-center">
				<h3 style="" class="mt10">Lindblom Machine Shop</h3>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class="col-md-5 text-center ma"><img class="img-thumbnail mt20 img-fluid" src="machineShop.jpg"></div>
		
		<div class="col-md-6 text-left ma"><p class="description mt10">Request personalized machined parts for you competition robots and side projects alike. This service connects you with Lindblom's prestigious machining team. Submit a request with your designs to the machining team and they will send a quote for the cost and time need to machine your idea. If you agree on pricing you can continue to work with their team and obtain beautifully machined parts.

</p></div>
		<div class="col-md-1 text-center ma"></div>
	</div>
	
</div>
<div class = "container-fluid pageDisplay" style="background-color: #000000">
	<div id = "headerRow" class = "row justify-content-center">
		<div id = "headerCol" class = "col-md-12 text-center">
			<div class = "row text-center justify-content-center">
				<h3 style="" class="mt10 pageDisplayTitle">FIRST Tech Challenge Forums</h3>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class="col-md-5 text-center ma"><img class="img-thumbnail mt20 img-fluid" src="forum.jpg"></div>
		
		<div class="col-md-6 text-left ma"><p class="description mt10">
		Communicate and collaborate with other FTC robotics teams through our forums. In addition to topics covering basic tips and concepts for the First Technology Chalenge, anyone can ask and answer questions diving deep into the complex or intricate stategies and components of the game. We hope that this forum will help build up rookie teams' foundations and advance veteran teams past their previous limitations.

</p></div>
		<div class="col-md-1 text-center ma"></div>
	</div>
</div>

<div id = "footer" class = "container-fluid  d-flex flex-column bg-dark">
	<div class = "col-md-3">
		<img class = "logo img-fluid mx-auto d-block" src = "OctagonRoboticsLogo.png" alt = "header"/>
	</div>
</div>
</body>
<script>

$(setTimeout(function() {   //calls click event after a certain time
   $("#fadeIn2").css({ opacity: 1 });
}, 10000));
</script>
</html>
