<!DOCTYPE html>
<!--Trenton Lyke, August 8, 2019. -->
<html id = "index">
<head>
<meta charset = "UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap Links -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<!--My Stuff-->
<link rel = "stylesheet" href = "styles.css"/>


<title>SchoolBoard</title>
<link rel = "icon" href = "favicon.png" type = "image/jpg"/>
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ma">
      <li class="nav-item">
      <a class="nav-link active" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/3DPrinterOrderForm">3D Printing Vendor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/LindblomOrderForm">Lindblom Machining</a>
    </li>
  
	<li class="nav-item">
      <a class="nav-link" href="#">Robotics Forum</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/signup">Sign Up</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/login">Login</a>
    </li>    
    </ul>
  </div>  
</nav>

<div id = "grand-parent">
<div id = "header" class = "container-fluid mainBack">
	<div id = "headerRow" class = "row justify-content-center">
		<div id = "headerCol" class = "col-md-12 text-center">
			<div class = "row text-center justify-content-center">
				<h1 id="fadeIn1">Octagon Robotics</h1>
			</div>
			<div class = "row text-center justify-content-center ">
				<h1 id="fadeIn2">Future FIRST</h1>
			</div>
		</div>
	</div>
</div>
</div>
<div id = "mission" class = "container">
	<div class = "row text-center">
		<div class = "col-md-12">
			<h2><span class = "text-dark" style="font-size: 7vw">Our Mission: </span><br><span class = "gradient" style="font-size: 7vw">Support and Empower Teams of the First Tech Challenge</span></h2>
			<p class = "text-dark" style="font-size: 3vw">By providing teams with resources and mediums of communication, we're developing a nurturing enviroment for rookie and veteran teams alike.</p>
		</div>
	</div>
	<div class = "row justify-content-center">
		<div id = "signup" class = "col-md-3 button">
			<a href = "/signup"  class = "stretched-link btn btn-lg">SIGN UP</a>
		</div>
		<div id = "login" class = "col-md-3 button">
			<a href = "/login" class = "stretched-link btn btn-lg">LOG IN</a>
		</div>
	</div>
</div>
<div class = "container-fluid pageDisplay">
	<div id = "headerRow" class = "row justify-content-center">
		<div id = "headerCol" class = "col-md-12 text-center">
			<div class = "row text-center justify-content-center">
				<h3 style="" class="mt10">3D Printing Vendor</h3>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class="col-md-6 text-center ma"><img class="rounded-circle mt20 img-fluid" src="3DPrint.jpg"></div>
		<div class="col-md-1 text-center ma"></div>
		<div class="col-md-4 text-center ma"><p class="description mt10">2.	Have you sent your current SAT/ACT scores to all your colleges?

No, I have not.



3.	Are you going to retake any standardized tests?  When?

I will be retaking the SAT on August 24th.

4.	Please list your schools that require the SAT Subject Tests. 

Carnegie Mellon University, California Institute of Technology (Caltech), Cornell University, and Massachusetts Institute of Technology.


</p></div>
		<div class="col-md-1 text-center ma"></div>
	</div>
	
	<hr/>
</div>

<div class = "container-fluid pageDisplay">
	<div id = "headerRow" class = "row justify-content-center">
		<div id = "headerCol" class = "col-md-12 text-center">
			<div class = "row text-center justify-content-center">
				<h3 style="" class="mt10">Lindblom Machine Shop</h3>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class="col-md-6 text-center ma"><img class="rounded-circle mt20 img-fluid" src="machineShop.jpg"></div>
		<div class="col-md-1 text-center ma"></div>
		<div class="col-md-4 text-center ma"><p class="description mt10">2.	Have you sent your current SAT/ACT scores to all your colleges?

No, I have not.



3.	Are you going to retake any standardized tests?  When?

I will be retaking the SAT on August 24th.

4.	Please list your schools that require the SAT Subject Tests. 

Carnegie Mellon University, California Institute of Technology (Caltech), Cornell University, and Massachusetts Institute of Technology.


</p></div>
		<div class="col-md-1 text-center ma"></div>
	</div>
	<hr/>
</div>
<div class = "container-fluid pageDisplay">
	<div id = "headerRow" class = "row justify-content-center">
		<div id = "headerCol" class = "col-md-12 text-center">
			<div class = "row text-center justify-content-center">
				<h3 style="" class="mt10 pageDisplayTitle">FIRST Tech Challenge Forums</h3>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class="col-md-6 text-center ma"><img class="rounded-circle mt20 img-fluid" src="forum.jpg"></div>
		<div class="col-md-1 text-center ma"></div>
		<div class="col-md-4 text-center ma"><p class="description mt10">2.	Have you sent your current SAT/ACT scores to all your colleges?

No, I have not.



3.	Are you going to retake any standardized tests?  When?

I will be retaking the SAT on August 24th.

4.	Please list your schools that require the SAT Subject Tests. 

Carnegie Mellon University, California Institute of Technology (Caltech), Cornell University, and Massachusetts Institute of Technology.


</p></div>
		<div class="col-md-1 text-center ma"></div>
	</div>
</div>

<div id = "footer" class = "container-fluid  d-flex flex-column bg-dark">
	<div class = "col-md-3">
		<img class = "logo img-fluid mx-auto d-block" src = "OctagonRoboticsLogo.png" alt = "header"/>
	</div>
</div>
</body>
<script>

$(setTimeout(function() {   //calls click event after a certain time
   $("#fadeIn2").css({ opacity: 1 });
}, 10000));
</script>
</html>
